
@{
    ViewBag.Title = "Activity 2";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}
<div>
    <p>@Html.ActionLink("User Models", "Index", "Test")</p>
    <p>@Html.ActionLink("Buttons", "Index", "Button")</p>
    <p>@Html.ActionLink("Customer", "Index", "Customer")</p>
</div>

