@model Activity2Part1.Models.CustomerModel
<br />
@Html.Label("Customer Details")
<br />
@Html.DisplayNameFor(m => Model.Name):@Html.DisplayFor(m => Model.Name)
<br />
@Html.DisplayNameFor(m => Model.Age):@Html.DisplayFor(m => Model.Age)
<p>Updated at @DateTime.Now</p>

